* {
    margin: 0;
    padding: 0;
    font-family: 'iceberg';
}

body {
    background-color: rgb(26, 26, 26);
}

/* HEADER */
header h1{
    text-align: center;
    color: goldenrod;
    filter: brightness(1.1);
    
}
.nav{
    display: flex;
    justify-content: space-evenly;
    color: goldenrod;
    filter: brightness(1.1);

}
.nav a{
    font-size: 22px;
    text-decoration: none;
    color: goldenrod;
    filter: brightness(1.1);
}
/* TARJETA HEADER */

.imagen-header{
    position: absolute;
    width: 100%;
}
.card-header{
    top: 60px;
    left: 50px;
    position: relative;
    width: 300px;
    height: 280px;
    opacity: 0.9;
}
.card-titulo{
    font-weight: 600px;
    text-align: center;
    color: goldenrod;
    filter: brightness(1.2);
}
.card-texto{
    color: whitesmoke;
    filter: brightness(9);
    text-align: center;
}
.ver-mas{
    text-decoration: none;
    margin-left: 90px;
    border: solid 1px goldenrod;
    filter: brightness(1.2);
    color: goldenrod;
    font-size: 20px;
    padding: 0px 20px 0px 20px ;
}

/* PADDING AL CONTAINER */

.container {
    padding: 0;

}

.container-fluid {
    padding: 0;
}


/* LO MAS VENDIDO */

.Lo-mas-vendido {
    color: white;
    margin-top: 600px;
}

.grupo-tarjetas {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.tarjeta {
    background-color: #333533;
    padding: 4px;
    margin: 7px;
    text-align: center;
}


/* BANNER CONTAINER-FLUID */

.baner-fluid-medio {
    margin-top: 50px;
}


/* NUESTRA ESPECIALIDAD */
.nuestra-especialidad {
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
}

.tarjeta-biografica {
    display: flex;
    margin-top: 70px;
}

.tarjeta-texto {
    color: wheat;
    font-size: 15px;
}


/* NOSOTROS */
.nosotros {
    margin-top: 80px;
    color: whitesmoke
}

.patricio {
    background-color: #333533;
    margin: 1px 0px 0px 5px;
}

.patricio-img {
    margin: 7px;
}

.sobre-nosotros {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.nombre-imagen {
    display: flex;
    text-align: center;
    color: wheat;
    align-items: center;
}

.tarjeta-texto {
    margin: 7px;
}

/* CONTACTO */
.seccion-formulario {
    background-color: #333533;
}

.contacto {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.contactanos {
    text-align: center;
    color: whitesmoke;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.form input {
    border: solid 2px whitesmoke;
    background-color: #333533;
    margin: 10px 0px 0px 0px;
}

.form textarea {
    border: solid 2px whitesmoke;
    margin: 10px 0px 0px 0px;
}

.form button {
    background-color: #333533;
    border: solid 2px goldenrod;
    color: goldenrod;
    margin: 10px 0px 0px 0px
}

#nombre {
    color: whitesmoke;
    background-color: #333533;
}

#mail {
    color: whitesmoke;
    background-color: #333533;
}

#comentario {
    color: whitesmoke;
    background-color: #333533;
}



/* BANNER BODEGA PARAISO */
.copa-vino-tabla {
    position: relative;
    display: inline-block;
    display: flex;
    margin-top: 70px;
}

.imagen-copa-vino-tabla {
    width: 100%;
}

.texto-copa-vino-tabla {
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
}

.texto-copa-vino-tabla p {
    color: whitesmoke;
    font-size: 30px;

}

.texto-copa-vino-tabla a {
    text-decoration: none;
    border: solid 2px;
    color: goldenrod;
    font-size: 22px;
    margin-left: 150px;

}

/* TIPOS */
.variedades {
    margin-top: 80px;
    color: whitesmoke
}

.tipos-de-vino {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* PROMOCIONES */
.promociones {
    position: relative;
    border: solid 1px #333533;

}

.promociones-enlace {
    position: absolute;
    top: 1%;
    left: 5px;

}

.promociones-enlace a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 22px;
    text-shadow: -6px -6px 6px #aaa;

}

/* TINTO */
.tinto {
    position: relative;
    border: solid 1px #333533;
}

.tinto-enlace {
    position: absolute;
    top: 1%;
    left: 5px;
}

.tinto-enlace a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    text-shadow: -6px -6px 6px whitesmoke;
}

/* BLANCO */
.blanco {
    position: relative;
    border: solid 1px #333533;

}

.blanco-enlace {
    position: absolute;
    top: 1%;
    left: 5px;
    ;

}

.blanco a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 22px;
    text-shadow: -6px -6px 6px whitesmoke;


}

/* ROSADO */
.rosado {
    position: relative;
    border: solid 1px #333533;

}

.rosado-enlace {
    position: absolute;
    top: 1%;
    left: 5px;

}

.rosado a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    text-shadow: -6px -6px 6px whitesmoke;


}

/* ESPUMANTE */
.espumante {
    position: relative;
    border: solid 1px #333533;

}

.espumante-enlace {
    position: absolute;
    top: 1%;
    left: 5px;

}

.espumante a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 22px;
    text-shadow: -6px -6px 6px whitesmoke;

}

/* ORGANICO */
.organico {
    position: relative;
    border: solid 1px #333533;

}

.organico-enlace {
    position: absolute;
    top: 1%;
    left: 5px;
}

.organico a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    text-shadow: -6px -6px 6px whitesmoke;


}

/* FOOTER */

footer {

    margin-top: 20px;
    background-color: #1b263b;
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
    height: 190px;

}

footer li {
    list-style-type: none;
    color: whitesmoke;
    text-decoration: none;
}




/* MOBILE */


@media (min-width: 400px) and (max-width: 576px) {



    /* HEADER */

    header {
        display: flex;
        flex-direction: column;
        
    }
    .nav a{
        font-size: 15px;

    }
   .card-header{
    visibility: hidden;
   }
  

    

    /* GRUPO PRIMERAS TARJETAS */

    .Lo-mas-vendido {
        color: white;
        margin-top: 570px;
        text-align: center;
    }

    .grupo-tarjetas {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }

    .tarjeta {
        margin: 17px 0px 0px 0px;
    }

    .tarjeta img {
        padding: 10px 0px 0px 0px;
    }

    /* NOSOTROS */
    .sobre-nosotros {
        flex-direction: column;
        align-items: center;

    }

    .nosotros {
        text-align: center;
    }

    .patricio {
        padding: 0;
        margin: 10px 0px 0px 0px;

    }

    .tarjeta-biografica {
        flex-direction: column;
    }

    
    /* PAGINA CONTACTO */
    .seccion-formulario {
        justify-content: center;

    }

    .imagen-contacto {
        width: 100%;
    }

    .contacto {
        flex-direction: column;
        align-items: center;
        height: auto;
    }


    .form {
        margin: 20px 0px 0px 0px;
        width: 100%;
    }

    /* TIPOS DE VINO */
    .variedades{
        text-align: center;
    }
    .tipos-de-vino {
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        cursor: pointer;
    }
    

   
   

    /* FOOTER */
    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        height: 40vh;
        margin-top: 30px;
        width: 100%;

    }


}