@media (min-width: 400px) and (max-width: 576px) {



    /* HEADER */
    body {
        background-color: #0d1b2a;

    }

    header {
        display: flex;
        flex-direction: column;

        h1 {
            color: #eaf4f4;


        }

    }

    .nav a {
        font-size: 15px;
        color: #eaf4f4;


    }

    .card-header {
        visibility: hidden;
    }

    /* GRUPO PRIMERAS TARJETAS */

    .Lo-mas-vendido {
        color: #eaf4f4;
        margin-top: 570px;
        text-align: center;
    }

    .grupo-tarjetas {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;

        img {
            padding: 10px 0px 0px 0px;
        }

        .tarjeta {
            margin: 17px 0px 0px 0px;
            background-color: #eaf4f4;

            .tarjeta-texto {
                color: #0d1b2a;


            }

        }

    }

    /* NOSOTROS */
    .sobre-nosotros {
        flex-direction: column;
        align-items: center;
        color: #0d1b2a;

        .patricio {
            padding: 0;
            margin: 10px 0px 0px 0px;
            background-color: #eaf4f4;

            .nombre-imagen {
                color: #0d1b2a;
            }

            .tarjeta-texto {
                color: #0d1b2a;
            }



        }

    }

    .nosotros {
        text-align: center;
    }



    // BIOGRAFIA
    .tarjeta-biografica {
        flex-direction: column;
    }

    .nuestra-especialidad {
        color: #eaf4f4;
    }

    /* PAGINA CONTACTO */
    .seccion-formulario {
        justify-content: center;


    }

    .contacto {
        flex-direction: column;
        align-items: center;
        height: auto;
        color: #0d1b2a;
        

    }

    .form {
        margin: 20px 0px 0px 0px;
        width: 100%;

    }


    /* TIPOS DE VINO */
    .variedades {
        text-align: center;
    }

    .tipos-de-vino {
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        cursor: pointer;
    }

    /* FOOTER */
    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        height: 40vh;
        margin-top: 30px;
        width: 100%;

    }


}